<!DOCTYPE html>
{% load static %}
<html>
  
  {% include "nav.html" %}
    <br>
    <div style = "margin: 25px;">
      <h3>About Memento</h3>
      <p>Memento is a site dedicated to crowdsourcing NFT souvenirs. It was developed by UC Berkeley students in an effort to promote local artsists and make NFTs souvenirs more accessible.</p>
    </div>
      <!-- <h3>We've all tried using physical souvenirs before. However, they're...</h1>
      <br>
<img width = "100%" src="{% static 'images/solution.png' %}"/>

<br>
<br>
      <h3>Our solution: Memento, a platform which would enable creators to mint and sell their Art related to a specific location, to buyers; in a Pokemon-Go style. </h1>
      <br> -->

      {% include "footer.html" %}
</body>
</html>