<!-- <footer>
    <br>
    <p>Contact us at memento@gmail.com</p>
    <p>Follow us on social media! </p>
    <p>Instagram Facebook Twitter</p>
    
</footer> -->

<!-- Footer -->
{% load bootstrap_icons %}
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          >{% bs_icon 'facebook' %}</a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          >{% bs_icon 'twitter' %}</a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          >{% bs_icon 'instagram' %}</a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          >{% bs_icon 'linkedin' %}</a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Contact us at: lucy.w@berkeley.edu
          <br>
          <br>
          © 2022 Copyright:
      <a class="text-white" href="https://www.ocf.berkeley.edu/~luw/memento/">Memento</a>
        </p>
      </section>
      <!-- Section: Text -->
  
    </div>
    <!-- Grid container -->

  </footer>
  <!-- Footer -->